#wrapper {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.introButton {
  display: block;
  margin: 0 auto;

}
#sortButton {
  margin-bottom: 25px;
}

#schoolAssgn {
  margin-right: 50px;
}
.container2 {
  margin-left: 200px;
}

.card {
  height: 400px;
  width: 200px;
  padding: 5px;
  margin: 10px;
}

.entry-hidden{
  display: none;
}

.container-hidden {
  display: none;
}
/* or visability: hidden */
