#wrapper {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  .container2 {
    margin-left: 200px;
  }  
}
#intro-heading{
  margin-bottom:20px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}


.introButton {
  display: block;
  margin: 0 auto;

}
#sortButton {
  margin-bottom: 25px;
}

#schoolAssgn {
  margin-right: 50px;
}

.card {
  height: 400px;
  width: 200px;
  padding: 5px;
  margin: 10px;
}

.entry-hidden{
  display: none;
}

.container-hidden {
  display: none;
}
/* or visability: hidden */
